.blank-section * {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 8pt;
  text-align: center;
}

.blank-section table {
  border-collapse: collapse;
}

.blank-section .pole3, .blank-section .pole11, .blank-section .pole12, .blank-section .text-right, .blank-section .btext, .blank-section .btext2 {
  font-weight: bold;
}

.blank-section .cell, .blank-section .btext {
  font-family: "Arial", sans-serif;
}

.blank-section .blank {
  width: 100%;
  max-width: 200mm !important;
  height: 142mm;
  border: 1px dotted black;
  margin: 0;
}

.blank-section .pole1 {
  height: 64mm;
}

.blank-section .pole1, .blank-section .pole2 {
  border-bottom: 2px solid black;
}

.blank-section .pole1, .blank-section .pole3 {
  border-right: 2px solid black;
  width: 25%;
  max-width: 55mm;
}

.blank-section .pole2, .blank-section .pole4 {
  padding: 0 3mm 0 3mm;
}

.blank-section .pole2, .blank-section .pole4, .blank-section .subtext {
  vertical-align: top;
}

.blank-section .pole2, .blank-section .pole4, .blank-section .print {
  text-align: left;
}

.blank-section .pole3 {
  padding-bottom: 7mm;
  vertical-align: bottom;
  line-height: 7mm;
}

.blank-section .pole3t {
  padding: 7mm;
  vertical-align: top;
  line-height: 7mm;
}

.blank-section .pole11 {
  vertical-align: top;
  letter-spacing: 0.2em;
}

.blank-section .pole11, .blank-section .pole12 {
  width: 50mm;
  height: 26mm;
  padding: 7mm;
}

.blank-section .pole11, .blank-section .pole12, .blank-section .pole3, .blank-section .italic {
  font-size: 10pt;
}

.blank-section .pole12 {
  vertical-align: bottom;
}

.blank-section td {
  min-width: 3.3mm;
}

.blank-section .cell {
  min-width: 3.6mm;
  border: 1px solid black;
}

.blank-section .line1 {
  min-width: 143mm;
  height: 12pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blank-section .line1 select {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.blank-section .line2 {
  min-width: 48mm;
}

.blank-section .line3 {
  min-width: 11mm;
}

.blank-section .line4 {
  min-width: 10mm;
}

.blank-section .line5 {
  min-width: 25mm;
}

.blank-section .line7 {
  min-width: 40mm;
}

.blank-section .line1, .blank-section .line2, .blank-section .line3, .blank-section .line4, .blank-section .line5, .blank-section .line6, .blank-section .line7,
.blank-section .btext {
  border-bottom: 1px solid black;
}

.blank-section .line6, .blank-section .space1 {
  min-width: 7mm;
  min-height: 1mm;
}

.blank-section .btext, .blank-section .space2, .blank-section .text-small, .blank-section .fio {
  width: 100%;
}

.blank-section .italic {
  font-size: 7.5pt;
  font-style: italic;
}

.blank-section .italic, .blank-section .text-right {
  text-align: right;
}

.blank-section .subtext {
  height: 8pt;
  font-size: 6pt;
}

.blank-section .text-small {
  font-size: 7.5pt;
}

.blank-section .text-left {
  text-align: left;
}


.blank-section .text-right {
  text-align: right;
}

.blank-section .name {
  width: 137mm;
}

.blank-section .nomer {
  width: 6mm;
}

.blank-section .rubas {
  width: 11mm;
  font-weight: bold;
}

.blank-section .barcode img {
  width: 390px;
  height: initial;
  margin: 10px 0 0 0;
  float: right;
}

.blank-section .payment-name {
  font-weight: bold;
}